<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Data of {{countryasked}}</h1>


         <table style=" border: 1px solid black; font-size: 30px;">
         <tr>
            <th>Total Cases</th>
            <th>{{TotalCases}}</th>
        </tr>
        <tr>
            <th> Total Cases Raised Today </th>
            <th> {{TodayCases}} </th>
        </tr>
        
        <tr>
            <th> Total Deaths </th>
            <th> {{TotalDeath}} </th>
        </tr>
        <tr>
            <th>Death Today</th>
            <th> {{todayDeaths}} </th>
        </tr>
        <tr>
            <th> Recovered </th>
            <th> {{Recovered}} </th>
        </tr>
        <tr>
            <th> Recovered Today </th>
            <th>{{TodayRecovered}}  </th>
        </tr>
        <tr>    
            <th> Active Cases </th>
            <th> {{active}} </th>
        </tr>
        <tr>
            <th> Total Tests </th>
            <th>  {{Totaltest}}</th>
        </tr>

    </table>


    </center>




</body>
</html>