<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
            <h1>{{world}} Data</h1>
    


    <table style=" border: 1px solid black; font-size: 30px;">
        <tr>
            <th>Total Cases  </th>
            <th>{{TotalCases}}</th>
        </tr>

        <tr>
            <th>Total Cases Raised Today </th>
            <th>{{TodayCases}}</th>
        </tr>

        <tr>
            <th>Total Death</th>
            <th>{{TotalDeath}}</th>
        </tr>

<tr>
            <th>Today Death  </th>
            <th>{{TodayDeath}}</th>
        </tr>

        <tr>
            <th>Recovered Cases</th>
            <th>{{TotalRecovered}}</th>
        </tr>

        <tr>
            <th>Active Cases </th>
            <th>{{Active}}</th>
        </tr>

    </table>




    <p id="wd"></p>

    </center>    
</body>
</html>